<style>
    h1{
        text-align: center;
        margin-top: 30px;
        color: rgb(34, 48, 150);
    }



    .grid-container{
        display: grid;
        grid-template-areas: 
        "a" "b" "b" "c"
        "d" "e" "e" "c"
        "f" "g" "h" "i"
        "j" "g" "k" "k"
        ;
    }

    .grid-container img {
        max-width: 100%;
        height: auto;
    }
    
    img:nth-child(1) { grid-area: a; }
    img:nth-child(2) { grid-area: b; }
    img:nth-child(3) { grid-area: c; }
    img:nth-child(4) { grid-area: d; }
    img:nth-child(5) { grid-area: e; }
    img:nth-child(6) { grid-area: f; }
    img:nth-child(7) { grid-area: g; }
    img:nth-child(8) { grid-area: h; }
    img:nth-child(9) { grid-area: i; }
    img:nth-child(10) { grid-area: j; }
    img:nth-child(11) { grid-area: k; }
    img:nth-child(12) { grid-area: l; }
    img:nth-child(13) { grid-area: m; }
    img:nth-child(14) { grid-area: n; }
    img:nth-child(15) { grid-area: o; }
    img:nth-child(16) { grid-area: p; }
    img:nth-child(17) { grid-area: q; }
    img:nth-child(18) { grid-area: r; }
    img:nth-child(19) { grid-area: s; }
    img:nth-child(20) { grid-area: t; }

</style>


<h1>View some amazing encounters from our tips</h1>
<div class="grid-container">
    <img src="../images/gal1_l.jpg" alt="">
    <img src="../images/gal2_w.jpg" alt="">
    <img src="../images/gal3_p.jpg" alt="">
    <img src="../images/gal4_l.jpg" alt="">
    <img src="../images/gal5_w.jpg" alt="">
    <img src="../images/gal6_l.jpg" alt="">
    <img src="../images/gal7_p.jpg" alt="">
    <img src="../images/gal8_l.jpg" alt="">
    <img src="../images/gal13_l.jpg" alt="">
    <img src="../images/gal15_l.jpg" alt="">
    <img src="../images/gal9_w.jpg" alt="">
    <img src="../images/gal10_w.jpg" alt="">
    <img src="../images/gal11_p.jpg" alt="">
    <img src="../images/gal14_p.jpg" alt="">
    <img src="../images/gal12_w.jpg" alt="">
    <img src="../images/gal16_w.jpg" alt="">
    <img src="../images/gal17_p.jpg" alt="">
    <img src="../images/gal19_l.jpg" alt="">
    <img src="../images/gal17_p.jpg" alt="">
    <img src="../images/gal20_l.jpg" alt="">
</div>

